/* CSS for website */

/*
p {
    font-family: "Times New Roman", Times, serif;
}
*/

.normal {
    text-align:justify;
    color: rgb(255, 229, 179);
}

h1 {
    color: rgb(0, 51, 204);/*color: rgb(152,0,0);*/
}

h2 {
    color: rgb(0, 102, 255); /*color: rgb(0, 125, 0);*/
}

h3 {
    color: rgb(51, 204, 255); /*color: rgb(0, 60, 125);*/
}

h6 {
    font-size:large;
    color: rgb(255, 102, 0);
}

table {
    width:50%;
    height:50%;
    text-align:center;
    /*margin-left:auto; 
    margin-right:auto;*/
}

.chapter {
    color: rgb(0, 51, 204);
}

.articles {
    color: rgb(0, 102, 255);
}

.book-summary,.summary,.chapter,.articles {
    background-color: rgb(153, 220, 255)/*rgb(102, 204, 255);*/
}

.color-theme-1,.color-theme-2{
    
}